<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %} | CAKE POINT</title>
    <!-- Загрузка статики -->
    {% load static %}
    <!--<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script> -->
</head>

<body text ="#000033" bgcolor="#DDA0DD"><font face="Arial Black"></font>
    {% include 'nav.html' %}

    <main>
        <div class="container">
            <h1>{% block header %}CAKE POINT{% endblock %}</h1>
            {% block content %}
            <!-- Содержимое страницы -->
            {% endblock %}
        </div>
    </main>

</body>

</html>
