<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/pdf.css' %}">
  <style type="text/css">
  </style>
</head>

<body>
  <h2>Накладная № {{ order.invoice_num }} от {{ order.created }}</h2>

  <table class="table_header" style="border: 1px solid #fff;">

    <tr>

      <td style="vertical-align: top;"><strong>Поставщик:</strong></td>

      <td>{{ order.manufacturer }}</td>

    </tr>

    <tr>

      <td style="vertical-align: top;"><strong>Покупатель:</strong></td>

      <td>{{ user.first_name }}, {{ user.address }},
          <br>
          тел. {{ user.phone }}</td>

    </tr>

  </table>

  <div class="module">
    <div class="tabular inline-related last-related">

      <table class="table_body">
        <thead>
          <tr>
            <th>№</th>
            <th>НАИМЕНОВАНИЕ</th>
            <th>ЦЕНА</th>
            <th>КОЛ-ВО</th>
            <th>КОММЕНТАРИЙ</th>
            <th>СУММА</th>
          </tr>
        </thead>
        <tbody>
          {% for item in order.items.all reversed %}
          <tr class="row{% cycle " 1" "2" %}">
            <td class="num">{{ item.item_number }}</td>
            <td>{{ item.product.name }}</td>
            <td class="num">{{ item.price }}</td>
            <td class="num">{{ item.quantity }}</td>
            <td>{{ item.option }}</td>
            <td class="num">{{ item.get_cost }}</td>
          </tr>
          {% endfor %}
          <tr class="total">
            <td colspan="5">ИТОГО:</td>
            <td class="num">{{ order.get_total_cost }} руб.</td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
  <p>Всего наименований: {{ order.items.count }} на сумму {{ order.get_total_cost }} руб.</p>
  <strong> {{ order.comment }} </strong>

  <table class="table_body">
    <tr>
      <td width="50">СДАЛ:</td>
      <td>___________________/__________________________________________________
      </td>
    </tr>
    <tr>
      <td width="50">ПРИНЯЛ:</td>
      <td>___________________/__________________________________________________
      </td>
    </tr>
  </table>
</body>

</html>

<ul class="object-tools">
  <button onclick="window.print();" style="opacity: 0; cursor: pointer;">Печать</button>
</ul>