<!doctype html>
{% extends "base.html" %}
{% block title %}
	{% if boxes %}
		Каталог продукции | Выпечка и десерты
	{% elif pies %}
		Каталог продукции | Торты
	{% elif cookie %}
		Каталог продукции | Фасовка
	{% elif super_pies %}
		Каталог продукции | Торты на заказ
	{% endif %}
{% endblock %}
{% block content %}
{% load static %}
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
    </head>
<!-- Шапка с описанием раздела -->
	<body class="body">
        <div align="center">
        	{% if boxes %}
        		<h3>Каталог продукции / Выпечка и десерты</h3>
        		<h5>* цена указана за упаковку</h5>
        	{% elif pies %}
        		<h3>Каталог продукции / Торты</h3>
        		<h5>* цена указана за штуку</h5>
        	{% elif cookie %}
        		<h3>Каталог продукции / Фасовка</h3>
        		<h5>* Минимальный заказ – 6 шт.<br>цена указана за упаковку</h5>
        	{% elif super_pies %}
        		<h3>Каталог продукции / Торты на заказ</h3>
        		<h5>
        			* Срок исполнения заказа – 1-2 дня в зависимости от сложности.<br>
        			Масса тортов от 2 кг до 15 кг. Цена указана за 1 килограмм
        		</h5>
        	{% endif %}
        </div>

<!-- Поиск по товарам -->
        <div class="row justify-content-center">
            <div class="card_1" style="width: 300px;">
              <div class="card-body">
                <h5>Поиск по товарам</h5>
                    <form class="form-inline" action="{% url 'catalogue' %}">
                      <div class="input-group mb-3">
                        <input name="q" class="form-control form-control-sm" type="search" 
                           placeholder="Поиск"
                           {% if keyword %}
                           value="{{ keyword }}"
                           {% endif %} style="width: 58%; margin-right: 5px;">
                        <button class="button_1" type="submit" style="width: 37%;">Найти</button>
                      </div>
                    </form>
              </div>
            </div>
        </div>
        <br>
        <hr>

<!-- Корзина -->
		<div class="cart-popup" id="cart_popup">
		</div>
		<div class="cart" id="cart" onclick="openCart()" style="cursor: pointer">
			<a id="cartImg">
				{% if cart.get_total_price == 0 %}
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
					<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</svg>
				{% elif cart.get_total_price != 0 %}
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-cart-fill" viewBox="0 0 16 16">
					<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
					</svg>
				{% endif %}
			</a>
			<p id="cartSum">{{ cart.get_total_price|floatformat:0 }} руб.</p>
		</div>

<!-- Перечень товаров -->
        {% for product in products %}
        <h5>
              {{ product.name }} | цена: {{ product.price }} руб.             
        </h5>
        <p>
			<form>
				{% csrf_token %}
				<input onclick="remove_product('{{ product.id }}', 1, 'True'); remove_ident('{{ product.id }}')"
					type="button" class="button_1" value="Очистить">
					<big><b>[  <a id={{ product.id }}>
						<script>
							set_null('{{ product.id }}')
						</script>
						{% for item in cart %}
							{% if product.id == item.product.id %}
								<script>
									clear('{{ product.id }}')
								</script>
								{{ item.quantity }}
							{% endif %}
						{% endfor %}
					</a>  ]</b></big>
				<input onclick="add_product('{{ product.id }}', 1, 'False'); add_ident('{{ product.id }}')"
					type="button" class="button_2" value="Добавить">
			</form>
        </p>
		<p>
			<b id={{ product.id }}ident style="background-color: #fa66b5;">
				{% for item in cart %}
					{% if product.id == item.product.id %}
						--- В корзине ---
					{% endif %}
				{% endfor %}
			</b>
		</p>
		<p>
            {% if product.image %}
                <img src="{{ product.image.url }}" class="productImg" alt={{ product.name }} id={{ product.id }} onclick="openModal('{{ product.id }}', '{{ product.image.url }}', '{{ product.name }}')" width=200px >
				<div id="myModal" class="modal">
					<span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
						<img class="modal-content" id="img01">
					<div id="caption"></div>
				</div>
            {% endif %}
		</p>
        <p>{{ product.description }}</p>
        <p>Срок хранения - {{ product.shelf_life }} суток.</p>
        <hr>
        {% endfor %}

<!-- Вывод модальных изображений -->
		<script>
			var modal = document.getElementById("myModal");
			var modalImg = document.getElementById("img01");
			var captionText = document.getElementById("caption");

			function openModal(ID, productURL, productName) {
				var img = document.getElementById(ID);
				modal.style.display = "block";
				modalImg.src = productURL;
				captionText.innerHTML = productName;
			}

			var span = document.getElementsByClassName("close")[0];
			span.onclick = function () {
				modal.style.display = "none";
			}
		</script>

    </body>
</html> 
{% endblock %} 