<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}Доставка/Контакты{% endblock %}
{% block content %}
{% load static %}

<link href="{% static 'favicon.ico' %}" rel="icon" type="image/x-icon" />
	<div style="margin-top: 20px;
				margin-bottom: 30px;">
		<tr>
			<td colspan="4" width="60%" valign="top">
				<font style="color: #8B0000">
				<p align="justify">Прием заказов осуществляется до 18.00 перед днем доставки. 
				Доставка проводится по ПОНЕДЕЛЬНИКАМ и ЧЕТВЕРГАМ. Оплата возможна как наличным, 
				так и безналичным способом. Доставка в пределах МКАД – БЕСПЛАТНАЯ при заказе от 4000 руб.
				</p>
				</font>
			</td>
		</tr>
	</div>
	<tr>
		<td colspan="4" width="60%" valign="top">
			<font style="color: #8B0000">
				<b><p align="left">Отдел по работе с клиентами:<br>
				<a href="https://wa.me/79264411311"><img src="https://pngicon.ru/file/uploads/whatsapp-128x128.png"
					style="width: 25px;" alt="WhatsApp">&nbsp;
						+7 (926) 441-13-11
				</a>
				</p></b>
			</font>
		</td>
		<td colspan="4" width="60%" valign="top">
			<font style="color: #8B0000">
				<b><p align="left">Наш Телеграм-канал:<br>
				<a href="https://t.me/cakepoint"><img src="https://pngicon.ru/file/uploads/telegram-128x128.png"
					style="width: 25px;" alt="Telegram">&nbsp;
						t.me/cakepoint
				</a>
				</p></b>
			</font>
		</td>
		<td colspan="4" width="60%" valign="top">
			<font style="color: #8B0000">
				<b><p align="left">Написать письмо:<br>
				<a href="mailto:info@cake-point.ru?subject=Обратная связь" 
				title="Обратная связь"><img src="https://pngicon.ru/file/uploads/znachok-jelektronnoj-pochty-128x128.png"
					style="width: 25px;" alt="Email">&nbsp;
						info@cake-point.ru
				</a>
				</p></b>
			</font>
		</td>
	</tr>

{% endblock %}
