<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}О компании{% endblock %}
{% block content %}
{% load static %}

<html>
<head>
	<title>CAKE POINT | О компании</title>
</head>

<body class="body_index">

		<div align="center" class="index_background">
			<img src="media/index_background.jpg" border="0" class="responsive">
		</div>
		<div class="slide">
			<div class="banner_1">
				<img class="title_img" src="media/slide/praga.jpg">
				<div class="text-box-head">
					<h4 style="color: #fff; font-weight: 700; margin-bottom: 25px;">Торты</h4>
					<a href='/catalogue/pies' class="btn btn-success">
						Перейти в каталог
					</a>
				</div>
				<div class="text-box">
					<p style="text-align: left; font-weight: 600; margin-top: 90px;">
						Компания CAKE POINT работает с 2010 года и 
						занимается мелкооптовой поставкой кондитерских изделий и выпечки. 
						Доставка осуществляется непосредственно в день изготовления, что 
						гарантирует исключительную свежесть продукции.
					</p>
				</div>
			</div>
			<div class="banner_2">
				<img class="title_img" src="media/slide/napoleon.jpg">
				<div class="text-box-head">
					<h4 style="color: #800000; font-weight: 700; margin-bottom: 25px;">Пирожные</h4>
					<a href='/catalogue' class="btn btn-success">
						Перейти в каталог
					</a>
				</div>
				<div class="text-box">
					<p style="text-align: left; color: #800000; font-weight: 600; margin-top: 90px;">
						Компания CAKE POINT работает с 2010 года и 
						занимается мелкооптовой поставкой кондитерских изделий и выпечки. 
						Доставка осуществляется непосредственно в день изготовления, что 
						гарантирует исключительную свежесть продукции.
					</p>
				</div>
			</div>
			<div class="banner_3">
				<img class="title_img" src="media/slide/persik_melba.jpg">
				<div class="text-box-head">
					<h4 style="color: #800000; font-weight: 700; margin-bottom: 25px;">Торты на заказ</h4>
					<a href='/catalogue/super-pies' class="btn btn-success">
						Перейти в каталог
					</a>
				</div>
				<div class="text-box">
					<p style="text-align: left; color: #800000; font-weight: 600; margin-top: 90px;">
						Компания CAKE POINT работает с 2010 года и 
						занимается мелкооптовой поставкой кондитерских изделий и выпечки. 
						Доставка осуществляется непосредственно в день изготовления, что 
						гарантирует исключительную свежесть продукции.
					</p>
				</div>
			</div>
			<div class="banner_4">
				<img class="title_img" src="media/slide/sochnik.jpg">
				<div class="text-box-head">
					<h4 style="color: #fff; font-weight: 700; margin-bottom: 25px;">Свежая выпечка</h4>
					<a href='/catalogue/cookie' class="btn btn-success">
						Перейти в каталог
					</a>
				</div>
				<div class="text-box">
					<p style="text-align: left; color: #fff; font-weight: 600; margin-top: 90px;">
						Компания CAKE POINT работает с 2010 года и 
						занимается мелкооптовой поставкой кондитерских изделий и выпечки. 
						Доставка осуществляется непосредственно в день изготовления, что 
						гарантирует исключительную свежесть продукции.
					</p>
				</div>
			</div>
		</div>



	<!--LiveInternet counter
	<div align="center" style="margin-bottom: 20px;">
		<a href="https://www.liveinternet.ru/click"
		target="_blank"><img id="licntF38E" width="88" height="31" style="border:0" 
		title="LiveInternet: показано число просмотров за 24 часа, посетителей за 24 часа и за сегодня"
		src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAEALAAAAAABAAEAAAIBTAA7"
		alt=""/></a><script>(function(d,s){d.getElementById("licntF38E").src=
		"https://counter.yadro.ru/hit?t17.6;r"+escape(d.referrer)+
		((typeof(s)=="undefined")?"":";s"+s.width+"*"+s.height+"*"+
		(s.colorDepth?s.colorDepth:s.pixelDepth))+";u"+escape(d.URL)+
		";h"+escape(d.title.substring(0,150))+";"+Math.random()})
		(document,screen)</script>
	</div>
	/LiveInternet-->
</body>
</html>

{% endblock %} 